.body-container {
  width: 90vw;
  height: 97vh;
  border-radius: 15px;
  overflow: hidden;
}

body {
  background-color: #67b6b9;
  display: flex;
  align-items: center;
  justify-content: center;
}
:root {
  --toastify-color-success: #4585fc;
}
